{% set defaults = {
    'baseurl': 'https://github.com/saltstack-formulas',
    'basedir': '/srv/formulas',
    'update': False,
    'options': {},
   }
%}

{%- macro file_roots(input) -%}
{%- set processed_envs = [] -%}
file_roots:
{%- for name, roots in input|dictsort -%}
{%- do processed_envs.append(name) %}
  {{ name }}:
{%- for dir in roots %}
    - {{ dir }}
{%- endfor -%}
{%- endfor -%}
{%- endmacro -%}
